# Copyright (c) Nohira Atsuki. All rights reserved.

# Environments
.env

### others ###
# *.jpg
# *.png
# *.mp4
# *.json

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.envrc

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Dependency directories
node_modules/
jspm_packages/
bun.lockb
bun.lock
.wrangler/

### macOS ###
# General
.DS_Store

### Output ###
repomix-output.xml

# End Of Ignore
